{
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true
  },
  "extends": "jquery",
  "rules": {
    "quotes": [2, "single"],
    "semi": 2,
    "space-in-parens": ["error", "never"]
  }
}
